@import "src/base";

.button{
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  transition: all .3s;
  font-size: 1.3rem;

  &:focus-visible{
    outline: none;
  }
  &:visited{
    text-decoration: none;
    color: inherit;
  }
  &:focus{
    color: inherit;
  }

  button:active {
    transform: scale(0.99);
  }


  &__lavender{
    background: linear-gradient(to left bottom, $lavender, $blue-purple);
    color: $white;
    &:hover, &:focus{
      background: linear-gradient(to left bottom, $blue-purple, $lavender);
    }
  }



}




