.back-button {
  &,
  &:link,
  &:visited {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }

  & > span {
    margin-right: .5rem;
    transition: .2s all;
  }

  &:hover > span{
    margin-right: .6rem;
  }
}
